<% function test(childComments) { %>
    <% if (childComments === null) {  %>
        <% return 1 %>
    <% } %>

    <% Comment.find({'parent': `${comment._id}`}, function(err, childComments) { %>
        <% if (err) { %>
            <% console.log(err) %>
        <% } else { %>
            <div class="container mx-auto my-8">
                <div class="ml-12 border-2 px-4 py-4">
                    <p><b>Username</b> | <%= child.upvotes - child.downvotes %> points</p>
                    <p><%= child.text %></p>
                    <a class="inline-block mt-2 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" href="/<%=post._id%>/<%=child._id%>">View</a>
                    <form method="POST" action="/<%= post._id %>/<%=child._id%>?_method=DELETE">
                        <button class="mt-2 bg-transparent hover:bg-red-500 text-red-700 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded">Delete</button>
                    </form>
                </div>
            </div>
            
            <% return test(childComments) %>
        <% } %>
    <% }) %>
<% } %> 

<% test(childComments) %> 


<% for (let child of childComments) { %>
    <div class="container mx-auto my-8">
        <div class="ml-12 border-2 px-4 py-4">
            <p><b>Username</b> | <%= child.upvotes - child.downvotes %> points</p>
            <p><%= child.text %></p>
            <a class="inline-block mt-2 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" href="/<%=post._id%>/<%=child._id%>">View</a>
            <form method="POST" action="/<%= post._id %>/<%=child._id%>?_method=DELETE">
                <button class="mt-2 bg-transparent hover:bg-red-500 text-red-700 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded">Delete</button>
            </form>
        </div>
    </div>
<% } %>